/* Basic page layout */
body {
	margin: 0;
	background-color: #F2F2F2;
}

.titlebar {
	background-color: #1D4DA2;
	color: white;
	padding: 14px 16px;
}

.navbar_container {
	top: 0;
	position: sticky;
	position: -webkit-sticky;
}

nav.navbar {
	overflow: hidden;
	background-color: #1D4DA2;
}


nav.navbar > .navlinks, ul.dropdown-content {
	list-style: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.navlinks > li a {
	float: left;
	display: block;
	color: #F2F2F2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.dropdown {
	float: left;
}

.dropdown .dropdown-button {
	font-size: inherit;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	margin: 0;
}

.dropdown-content {
	display: none;
	left: 172px;
	position: absolute;
	background-color: #F9F9F9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

ul.dropdown-content > li > a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

nav.navbar ul.navlinks a:hover, .dropdown:hover .dropdown-button {
	background-color: #0080FF;
}

.dropdown-content li a:hover {
	color: black;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.navbar > .navlinks > li > a.icon {
	display: none;
}



/*
 * Responsive website
 */

/* When the screen is less than 600 pixels wide, hide all links, except active */
@media screen and (max-width: 600px) {
	.navlinks > li:not(:first-child):not(.toggle-icon) {
		display: none;
	}

	.navbar > .navlinks > li > a.icon {
		float: right;
		display: block;
	}

	.navbar > .navlinks li a {
		float: left;
		text-align: left;
	}
}

/* The "responsive" class is added to the navbar_links with JavaScript 
 * when the user clicks on the icon. This displays the links vertically
 * instead of horizontally) */
@media screen and (max-width: 600px) {
	.navbar {
		background-color: #1D4DA2;
	}

	.navbar > .navlinks.responsive > li > a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	
	.navbar > .navlinks.responsive li {
		display: block;
	}

	.navbar > .navlinks.responsive > li a, .navlinks.responsive > .dropdown {
		float: none;
		text-align: left;
	}

	.navlinks.responsive > .dropdown > .dropdown-content {
		position: relative;
		left: 0;
		width: 100%;
	}

	.navlinks.responsive .dropdown .dropdown-button {
		display: block;
		width: 100%;
		text-align: left;
	}
}