/* Basic page layout */
body {
	margin: 0;
	background-color: #F2F2F2;
}

.titlebar {
	background-color: #1D4DA2;
	color: white;
	padding: 14px 16px;
}

/* Add a black background color to the top navigation */
.navbar {
	overflow: hidden;
	/*background-color: #1EAFE7;*/
	background-color: #1D4DA2;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

/* Navbar links style */
.navbar_links {
	list-style-type: none;
	margin: 0; /* Margin of the "list" */
	padding: 0;
}

.navbar_links li {
	display: inline; /* Put list elements on a single line */
	float: left;
}

.navbar_links a {
	display: block; /* set a "block theme" */
	color: white;
	text-align-last: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change the color of links on hover */
.navbar_links a:hover {
	/*background-color: #111;*/
	/*background-color: #1D4D80;*/
	background-color: #0080FF;
}

.navbar_links .icon {
	display: none;
}

/* Add a color to the active/current link */
.active {
	/*background-color: #4CAF50;*/
	background-color: #1D4DA2;
	color: white;
}


/* 
 * Dropdown menu for teams
 */

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown-button {
	font-size: 16px;
	border: none;
	/*outline: none;*/
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.dropdown-content {
	visibility: hidden;
	position: absolute;
}

.dropdown-content li {
	clear: both;
}

.dropdown:hover .dropdown-content {
	position: relative;
	visibility: visible;
}

.dropdown-button:hover {
	background-color: #0080FF;
	display: block;
}
/*.dropdown-button {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.dropdown:hover .dropdown-button {
	background-color: #0080FF;
}

.dropdown-content {
	position: absolute;
	visibility: hidden;
	background-color: #F9F9F9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	visibility: hidden;
}

.dropdown-content li {
	clear: left;
}

.dropdown-content a:hover {
	background-color: #DDD;
}

.dropdown-content a {
	padding: 12px 16px;
	text-decoration: none;
	text-align: left;
	background-color: #F9F9F9;
	color: black;
}

.dropdown:hover .dropdown-content {
	display: block;
	position: relative;
	visibility: visible;
}
*/

/*
 * Responsive website
 */

/* When the screen is less than 600 pixels wide, hide all links, except active */
@media screen and (max-width: 600px) {
	.navbar_links li:not(:first-child) {
		display: none;
	}

	.navbar_links a.icon {
		float: right;
		display: block;
	}
}

/* The "responsive" class is added to the navbar_links with JavaScript 
 * when the user clicks on the icon. This displays the links vertically
 * instead of horizontally) */
@media screen and (max-width: 600px) {
	.navbar {
		background-color: #1D4DA2;
	}
	.navbar_links.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	
	.navbar_links.responsive li {
		float: none;
		display: block;
		text-align: left;
	}
}